body {
    margin: 0;
    font-family: sans-serif;
  }


  .fond2{

height: 20vh;
display:block;
width:auto;
margin-left:auto;
margin-right:auto;


}



.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url('neige.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white; /* CHANGE THIS LINE */
    border-radius: 20px;
}


.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color: #6d071a
}


body {
    margin: 0;
    font-family: sans-serif;
}


* {
  margin: 0;
  padding: 0;
}


ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  
}


.nav-container{

  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;


}

nav.liste {
    
    width: 200px;
    height: 40px;
    background-color: transparent;
    opacity: .8;
    line-height: 1rem;
    text-align: center;
    font-size: 20px;
    padding-top: 1px;
    padding-left: 150px
    height: 100%


}

ul li a {
    text-decoration: none;
    color: black;
    float: right;
}

ul li a:hover {
    background-color: none;


    
}

ul li ul li {
    display: none;


}

ul li:hover ul li {
    display: block;
}





        .ReadMsgBody{
          width:100%;
          background-color:#ffffff;
        }
        .ExternalClass{
          width:100%;
          background-color:#ffffff;
        }
        body{
          width:100%;
          height:100%;
          background-color:#ffffff;
          margin:0;
          padding:0;
          -webkit-font-smoothing:antialiased;
        }
        html{
          width:100%;
          background-color:#ffffff;
        }
        p{
          padding:0!important;
          margin-top:0!important;
          margin-right:0!important;
          margin-bottom:0!important;
          margin-left:0!important;
        }
        .hover:hover{
          opacity:0.85;
          filter:alpha(opacity=85);
        }
        .underline:hover{
          text-decoration:underline!important;
        }
        #BtnTransp{
          background:rgba(255, 255, 255, 0.21);
        }
        #logo img{
          width:170px;
          height:auto;
        }
        .image600 img{
          width:600px;
          height:auto;
        }
        .img120 img{
          width:120px;
          height:auto;
        }
        .image176 img{
          width:176px;
          height:auto;
        }
        .image130 img{
          width:130px;
          height:auto;
        }
        .image110 img{
          width:110px;
          height:auto;
        }
        .image222 img{
          width:222px;
          height:auto;
        }
        .image167 img{
          width:167px;
          height:auto;
        }
        .image128 img{
          width:128px;
          height:auto;
        }
        .image285 img{
          width:285px;
          height:auto;
        }
        .image90 img{
          width:90px;
          height:auto;
        }
        .image34 img{
          width:34px;
          height:auto;
        }
        .image16 img{
          width:16px;
          height:auto;
        }
        .appleLinksWhite a {color: #ffffff !important; text-decoration: none;} 
        .appleLinksGrey a{color: rgb(88, 89, 91); font-size: 13px; text-decoration: none;}
      @media only screen and (max-width: 640px){
        body{
          width:auto!important;
        }
    
    } @media only screen and (max-width: 640px){
        table[class=full]{
          width:100%!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        table[class=mobile]{
          width:100%!important;
          padding-left:30px;
          padding-right:30px;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        table[class=fullCenter]{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        td[class=fullCenter]{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        .erase{
          display:none;
        }
    
    } @media only screen and (max-width: 640px){
        .buttonScale{
          float:none!important;
          text-align:center!important;
          display:inline-block!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        .buttonScale2{
          float:none!important;
          text-align:center!important;
          display:inline-block!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        .image600 img{
          width:100%!important;
        }
    
    } @media only screen and (max-width: 640px){
        td[class=h40]{
          height:40px!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 640px){
        *[class=h20]{
          width:100%!important;
          height:20px!important;
        }
    
    } @media only screen and (max-width: 640px){
        table[class=sponsor]{
          text-align:center;
          float:none;
          width:360px;
        }
    
    } @media only screen and (max-width: 640px){
        table[class=mcenter]{
          text-align:center;
          vertical-align:middle;
          clear:both!important;
          float:none;
          margin:0px!important;
        }
    
    } @media only screen and (max-width: 640px){
        .pad20{
          padding-left:20px!important;
          padding-right:20px!important;
        }
    
    } @media only screen and (max-width: 479px){
        body{
          width:auto!important;
        }
    
    } @media only screen and (max-width: 479px){
        table[class=full]{
          width:100%!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        table[class=mobile]{
          width:100%!important;
          padding-left:20px;
          padding-right:20px;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        table[class=fullCenter]{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        td[class=fullCenter]{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        .erase{
          display:none;
        }
    
    } @media only screen and (max-width: 479px){
        .buttonScale{
          float:none!important;
          text-align:center!important;
          display:inline-block!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        .buttonScale2{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        .eraseMob{
          display:none!important;
        }
    
    } @media only screen and (max-width: 479px){
        .font30{
          font-size:30px!important;
          line-height:34px!important;
        }
    
    } @media only screen and (max-width: 479px){
        .image600 img{
          width:100%!important;
        }
    
    } @media only screen and (max-width: 479px){
        .image128 img{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        .image285 img{
          width:100%!important;
          text-align:center!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        td[class=h40]{
          height:30px!important;
          clear:both;
        }
    
    } @media only screen and (max-width: 479px){
        table[class=mcenter]{
          text-align:center;
          vertical-align:middle;
          clear:both!important;
          float:none;
          margin:0px!important;
        }
    
    } @media only screen and (max-width: 479px){
        *[class=h20]{
          width:100%!important;
          height:20px!important;
        }
    
    } @media only screen and (max-width: 479px){
        table[class=sponsor]{
          text-align:center;
          float:none;
          width:260px;
        }
    
    } @media only screen and (max-width: 479px){
        table[class=mcenter2]{
          text-align:center;
          vertical-align:middle;
          clear:both!important;
          float:none;
          margin:0px!important;
        }
    
    } @media only screen and (max-width: 479px){
        .pad20{
          padding-left:20px!important;
          padding-right:20px!important;
        }
    
    } @media only screen and (max-width: 479px){
        .w25{
          width:25px!important;
        }
    
    } 

        /* Add a black background color to the top navigation */
.topnav {
  background-color: #6d071a;
  overflow: hidden;
  top: 0px;
  position: absolute;
  background: transparent;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6d071a;
  color: white;
}



